<div class="top-main-area">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <a class="logo mt5" href="/">
            <img src="img/logo-inline.png" alt="Чики чики" title="Чики чики" style="width: 190px"></a>
          </div>
          <div class="col-md-6 col-md-offset-4" style="margin-top: 15px">
            <div class="pull-right">
              <ul class="header-features">
                <li><i class="fa fa-phone"></i>
                  <div class="header-feature-caption">
                    <h5 class="header-feature-title"></h5>
                    <p class="header-feature-sub-title">24/7 консультация клиентов</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
            <nav>
              <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                <li class="active"><a href="/">Все купоны</a></li>
                <li>
                  <a href="#!/news">Новости</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-6">
            <ul class="login-register">
              <li class="shopping-cart">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>Корзина</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
