<footer class="main">
    <div class="footer-top-area">
        <div class="container">
            <div class="row row-wrap">
                <div class="col-md-3">
                    <a href="/">
                        <img src="assets/img/logo-inline.png" alt="logo" title="logo" class="logo" style="width: 170px">
                    </a>
                    <ul class="list list-social">
                        <li>
                            <a class="fa fa-facebook box-icon" href="#" data-toggle="tooltip" title="Facebook"></a>
                        </li>
                        <li>
                            <a class="fa fa-twitter box-icon" href="#" data-toggle="tooltip" title="Twitter"></a>
                        </li>
                        <li>
                            <a class="fa fa-vk box-icon" href="#" data-toggle="tooltip" title="VK"></a>
                        </li>
                        <li>
                            <a class="fa fa-instagram box-icon" href="#" data-toggle="tooltip" title="Instagram"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Подписаться на рассылку</h4>
                    <div class="box" style="margin: 0; width: 100%; min-width: 100%; height: inherit;">
                        <form>
                            <div class="form-group mb10">
                                <label>E-mail</label>
                                <input type="text" class="form-control" />
                            </div>
                            <p class="mb10">Только самые интересные предложения</p>
                            <input type="submit" class="btn btn-primary" value="Подписаться" />
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget footer_widget">
                        <div class="caption footer-caption">
                            <h3>
                                Вопрос-ответ
                            </h3>
                        </div>
                        <ul class="list-unstyled faq">
                            <li>
                                <a href="#">
                                    Как купить купон?
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Как разместить купон?
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Сколько купонов может купить один человек?
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Как узнать стоимость товара?
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Какие бонусы я могу получить еще?
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget footer_widget">
                        <div class="caption footer-caption">
                            <h3>Для компаний</h3>
                        </div>
                        <div class="widget-list">
                            <ul class="list-unstyled faq">
                                <li><a href="#">Разместить купон</a></li>
                                <li><a href="#">Запросить консультацию</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright © 2017, Чики Чики, Все права защищены</p>
                </div>
            </div>
        </div>
    </div>
</footer>
