<h2>Все купоны</h2>
<div class="row row-wrap">

  <!--style="border: 5px solid #FEC52E;"-->
  <div *ngFor="let coupon of coupons" class="col-md-4"
    
  >
    <div class="product-thumb" [ngClass]="{'isTop': coupon['isTop']}">
      <div class="hit">
        <div class="hit-text">
          Хиты
        </div>
      </div>
      <header class="product-header">
        <img style="height: 260px" src="" alt="" title="">
        <div class="product-quick-view">
          <a class="fa fa-eye popup-text" href="#" data-effect="mfp-move-from-top" data-toggle="tooltip" data-placement="top" title="Посмотреть"></a>
        </div>
        <div class="product-secondary-image"><img style="height: 260px" src="" alt="" title=""></div>
      </header>
      <div class="product-inner">
        <ul class="icon-group icon-list-rating icon-list-non-rated" title="not rated yet">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <h5 class="product-title"></h5>
        <p class="product-desciption"></p>
        <div class="product-meta">
          <ul class="product-price-list">

            <li><span class="product-price">500тг</span></li>
            <li><span class="product-old-price">1000тг</span></li>
            <li><span class="product-save"></span></li>
          </ul>
          <ul class="product-actions-list">
            <li><a class="btn btn-sm" href="#"><i class="fa fa-shopping-cart"></i> В корзину</a></li>
            <li><button class="btn btn-sm " data-target="#email" data-toggle="modal">Быстрый заказ</button></li>

            <li><a class="btn btn-sm"><i class="fa fa-bars"></i> Больше</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>