<form class="search-area form-group search-area-white" action="#">
  <div class="container">
    <div class="row">
      <div class="col-md-2 clearfix">
      </div>
      <div class="col-md-6 clearfix"><label></label>
        <div class="search-area-division search-area-division-input" style="width: 400px;">
          <input class="form-control" type="text" placeholder="Я ищу ...">
        </div>
      </div>
      <div class="col-md-3 clearfix">
        <label><i class="fa fa-map-marker"></i> 
              <span>В</span>
            </label>
        <div class="search-area-division search-area-division-location">
          <input class="form-control" type="text" placeholder="Усть-Каменогорск">
        </div>
      </div>
      <div class="col-md-1"><button class="btn btn-block btn-white search-btn" type="submit">Поиск</button></div>
    </div>
  </div>
</form>